@charset "UTF-8";
/* CSS Document */



.timeglider-container {
	
	/* these will not change */
	position:relative;
  	overflow:hidden;
	border:2px solid black;
	background-color:#ffffff;
	
	font-family:Arial, sans-serif;
	
  }
  
.timeglider-footer {
	position:absolute;
	bottom:0px;
	left:0px;
	height:24px;
	width:100%;
	background-color:#333;
	color:#ccc;
	font-size:10px;
	padding:3px;
}

.timeglider-footer ul {
	list-style:none;
	}
	
.timeglider-footer ul li {
	display:inline;
	cursor:pointer;
}



.TGTimelineEnvelope {
	width:100%;
	vertical-align:bottom;
}

.TGTimelineEnvelope .titleBar {
	background-color:#444;
	color:#FFF;
	height:16px;
	width:auto;
	padding:4px;
	position:absolute;
	-moz-border-radius:4px;
	border-radius:4px;
}

.TGTimelineEnvelope .titleBar .timeline-title {
	color:#222;
	font-size:11px;
	width:auto;
	position:absolute;
	display:inline;
	margin-top:20px;
	background-color:#F0F0F0;
	padding:4px;
	-moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px;
}

/* Correction of aristo ui css */
.ui-slider-vertical .ui-slider-handle { 
    left:0;margin-left: -.6em; margin-bottom: -.6em; 
    }

.timeglider-slider-container {
  width:32px;
  padding-left:16px;
	position:absolute;
	height:auto;
	background-color:#fff;
	z-index:100000;
	top:0px;
	right:0px;
	padding-top:8px;
  }

.timeglider-slider {
	/*
	float:right;
	width:32px;
	clear:right;
	border:none;
	background-color:none;
	*/
  }
  
.timeglider-centerline {
  	border-left:1px dashed #000;
	  position:absolute;
}
  
  
.timeglider-truck {
   position:relative;
}
 
  
.timeglider-ticks {
	top:0px;
	position:relative;
	height:900px;
	background-image:url("../../img/tickbg.png");
 }
  
 .timeglider-tick {
  	/* defaults on arrival in ticks */
	position:absolute;
	height:30px;
	font-size:11px;
	background-color:#75a3c7; 
	background-image:url("../../img/dotted.png");
	background-repeat:no-repeat;
}

.timeglider-tick-label {
  text-shadow: 0px 1px 0px rgba(255,255,255,0.7);
 	color:#333;
 	position:absolute;
  top:4px;
  left:4px;
  font-weight:bold;
 }
  
.timeglider-handle {
		position:absolute;
		top:0px;
		height:1000px;
		width:100%;
		
		filter:alpha(opacity=1);
		-moz-opacity:0.01;
		-khtml-opacity: 0.01;
		opacity: 0.01;
		
	}
	
.timeglider-timeline-menu {
		position:absolute;
		top:0px;
		left:0px;
		width:200px;
		height:500px;
		background-color:#333;
		z-index:5000;
	}
	
.timeglider-timeline-menu ul {
		margin:2px;
		padding:0px;	
		color:#CCC;
		
		}
.timeglider-timeline-menu ul li {
		font-size:10px;
		list-style:none;
		margin:0;
		padding:0;
		cursor:pointer;
	}
	
.timeglider-timeline-menu h3 {
			font-size:10px;
			margin:0px;
			margin-left:3px;
			margin-top:3px;
			font-weight:normal;
			color:#888;
	}
	
.timeglider-timeline-menu-handle {
		height:15px;
		width:60px;
		background-color:#727BA5;
		float:right;
		font-size:10px;
		text-align:center;
		margin-right:-60px;
		margin-top:0px;
		opacity:.9;
		color:white;
	}


.activeTimeline {
	color:yellow;
}



.shadow {
	-moz-box-shadow: 3px 3px 4px #333;
	-webkit-box-shadow: 3px 3px 4px #333;
	box-shadow: 3px 3px 4px #333;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#333333')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#333333');
}


/* make panel class, too */
#Timeglider_rzBox {
	position:absolute;
	left:0px;
	top:-500px;
	width:258px;
	height:78px;
	border:1px solid #CCC;
	background-color:#CCC;
	-moz-border-radius:7px;
	border-radius:7px;
	color:#444;
	font-size:9px;
	
	opacity:.85;
	filter:alpha(opacity=85);
	filter:"alpha(opacity=85)";
	
}

.closeBt {
	float:right;
	cursor:pointer;
	color:#e61e1e;
	margin-right:-22px;
	margin-top:-22px;
}

#Timeglider_rzSlider {
	margin-top:24px;
	margin-left:10px;
	width:200px;
	height:2px;
	border:1px dotted black;
 }

#Timeglider_rzVal {
	clear:both;
	float:right;
	margin-top:6px;
	margin-right:10px;
	font-size:18px;
	color:#333;
	width:30px;
	text-align:center;

}

#Timeglider_rzPntr {
	color:#CCC;
	margin-top:-28px;
	font-size:32px;
	margin-left:12px;
}

#TimegliderMeasureSpan {
	font-size:11px;
	width:auto;
	font-family:Arial;
}

.okBt {
	color:white;
	background-color:green;
	font-size:14px; font-weight:bold;
	cursor:pointer;
	padding:2px;
	width:26px;
	text-align:center;
}
.okBt#Timeglider_rzOk {
	clear:both;
	margin-left:auto;
	margin-right:auto;
	margin-top:16px; 
}
.roundedSmall {
	-moz-border-radius:3px;
	border-radius:3px;
}


/* TEMP */
.timeglider-timeline-event {
	position:absolute;
	/* background-color:white; */
	padding:0px;
	font-size:11px;
	cursor:pointer;
}

.timeglider-event-thumb {
  /* this is a div */
  width:22px;
  height:22px;
  overflow:hidden;
  position:absolute;
  border:1px solid #333;
}


.timeglider-event-thumb img {
  height:24px;
  width:auto;
}

#clps {
	color:#AAA;
	cursor:pointer;
	font-size:10px;
	padding-left:18px;
}

.timeglider-event-icon {
	margin-right:5px;
	width:auto;
	position:absolute;
}

.timeglider-filter-bt {
	float:right;
	cursor:pointer;
	margin-right:16px;
	color:orange;
}
.timeglider-filter-box {
  display:none;
  width:180px;
  height:70px;
  position:absolute;
  bottom:-1px;
  right:6px;
  border:1px solid #333;
  background-color:#F3F3F3;
  font-size:11px;
  padding:8px;
  text-align:right;
  
  -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; 
  border-top-left-radius: 4px; -moz-border-radius-topright: 4px; 
  -webkit-border-top-right-radius: 4px; border-top-right-radius: 4px;
	
  
}
.formLine {
  margin-bottom:4px;
  color:#555;
  font-size:10px;
}
.formLine input {
  padding:4px;
  font-size:10px;
  color:#333;
  border:1px dotted #333;
  background-color:#FFF;
}
ul.formBottom{
  list-style:none;
}

ul.formBottom li{
  display:inline;
  margin-left:12px;
}

.formline#bottom {
  margin-bottom:12px;
}
.timeglider-filter-submit {
  color:green;
  font-weight:bold;
}


.box-visible {
  display:block;
}

.timeglider-event-spanner {
  position:absolute;
  background-color:#ccc;
	height:15px;
	position:absolute;
	z-index:1;
}
.timeglider-event-title {
	width:auto;
	color:#444;
	position:absolute;
	z-index:5;
}

.evCollapsed {
	position:absolute;
	border-left:1px solid red;
	top:0px;
	height:20px;
	width:1px;
}


.TimegliderEvModal {
	-moz-border-radius:5px;
	border-radius:7px;
	background:#FFF;
	border:1px solid #333;
	width:250px;
	padding:8px;
}
.TimegliderEvModal p {
	font-size:11px;
	color:#555;
	margin-right:14px;
}
.TimegliderEvModal p img {
  width:100px;
  height:auto;
  float:left;
  margin-right:8px;
  margin-bottom:8px;
}
.TimegliderEvModal h4 {
	margin:0;padding:0;
	margin-top:6px;
	margin-bottom:4px;
	color:#222;
	font-size:12px;
}
.TimegliderEvModal .startdate {
	font-size:10px;
	color:#666;
}
ul.TimegliderModalLink {
	list-style:none;
	margin:0;
	margin-top:8px;
	padding:0;
	clear:both;
}
ul.TimegliderModalLink li {
	font-size:10px;
	display:inline;
	padding:4px;
	border-left:1px dotted #CCC;
	border-right:1px dotted #CCC;
}
ul.TimegliderModalLink li a {
  color:#374b99;
}
	

